* {
  box-sizing: border-box;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}
.app {
  width: 500px;
  margin: auto;
  margin-top: 3rem;
  border: 1px solid #cccc;
  padding: 1.7rem;
  border-radius: 5px;
  /* color: #aaaaaa; */
}

h4,
h5 {
  margin: 0;
}
.searchItem {
  display: flex;
  width: 400px;
  border-bottom: 2px solid #eee;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  color: rgb(129, 126, 126, 0.6);
  font-size: 18px;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}
.singleBox {
  display: flex;
  width: 400px;
  margin: auto;
  margin-bottom: 4px;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border: 2px solid rgb(129, 126, 126, 0.1);
  border-radius: 3px;
}
.icon {
  height: 18px;
  width: 18px;
}
.iconCircle {
  height: 15px;
  width: 15px;
  border: 2px solid #c0c0c0;
  border-radius: 50%;
}
.leftItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.me-5 {
  margin-right: 0.5rem;
}
.gray-color {
  color: #c0c0c0;
}

@media screen and (max-width: 630px) {
  .app {
    width: 250px;
  }
  .searchItem,
  .singleBox {
    width: 200px;
  }
  h4 {
    font-size: 15px;
  }
}
